<?xml version="1.0"?>
<robot name="sparus">

<!-- Links -->

  <link name="mesh">
    <visual>
      <origin xyz="0.0 0 0" rpy="-1.57 0 0"/>
      <geometry>
        <mesh filename="package://cirs_girona_cala_viuda/rviz/sparus.3ds" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

</robot>
